    <header class="header">
        <div class="row">
            <div class="column one-third s-one-whole">
                <a href="{{ site.url }}" class="logo">
                    <span class="fa fa-heart"></span>
                    {{ site.title }}
                </a>
            </div>

            <div class="column two-thirds s-one-whole">
                <ul class="nav menu-main">
                    <li><a href="{{ site.url }}">All Sites</a></li>
                    <li><a href="#categories" data-component="tab">Categories</a></li>
                    <li><a href="{{ site.url }}/about/">About</a></li>
                    <li><a href="{{ site.url }}/submit-a-website/">Submit</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="subheader">
        <div class="row">
            <div class="column one-whole">
                <div id="categories" class="tab center">
                    {% for category in site.categories %}
                        <a class="tag" href="/category/{{ category | first | slugify }}">{{ category | first }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
