<div class="website">
    <div class="website-preview">
        <a href="{{ post.url }}" class="website-placeholder lazyload" title="{{ page.title }}" data-src="https://shots.ohthatsnice.net/{{ post.image }}">
            <span class="spinner fa fa-heart"></span>
        </a>
    </div>
    <div class="website-content">
        <h4 class="website-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </div>

    <ul class="website-actions">
        <li>
            <a href="{{ post.url }}">
                <span class="fa fa-eye"></span>
                View
                <!-- <span class="likes-count">0</span> -->
            </a>
        </li>
        <li>
            <a target="_blank" href="{{ post.website }}">
                <span class="fa fa-share"></span>
                Visit
            </a>
        </li>
    </ul>
</div>
