---
layout: default
pagination:
    enabled: true
    sort_reverse: true
---

<div class="row">
    <div class="column one-whole center">
        <h1 class="archive-title">
            Web design inspiration for
            <span class="highlight">{{ page.autopages.display_name }}</span>
        </h1>
    </div>
</div>

<div class="row">
    {% for post in paginator.posts %}
        <div class="column one-half m-one-whole">
            {% include website.html %}
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="column one-whole">
        {% include pagination.html %}
    </div>
</div>
