<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include header.html %}

        <main id="content" class="container page">
            <article>
                <header class="page-header">
                    <div class="row">
                        <div class="column two-thirds push-sixth m-one-whole">
                            <h1 class="page-title">
                                {{ page.title }}
                            </h1>

                            {% if page.subtitle %}
                                <p class="subtitle">
                                    {{ page.subtitle }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </header>

            {{ content }}

            </article>
        </main>

        {% include footer.html %}
    </body>
</html>
